/* 
CSS Guide
1. General Style Rules
2. Main Navigation
3. Footer
4. Product Page
5. Contact Page
6. Index Page
7. Custom Queries
8. Tablet Queries
9. Desktop Queries
 */

 /* General Style Rules */

 header, main, footer {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
 }


  body, p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
} 

 p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 13px;
 }

 ul li {
    list-style: none;
 }

 #form {
    margin-bottom: 50px;
 }

 .visually-hidden:not(:focus):not(:active) {
   position: absolute !important; 
   width: 1px !important; 
   height: 1px !important; 
   padding: 0 !important; 
   margin: -1px !important; 
   overflow: hidden !important; 
   clip-path: inset(50%); 
   white-space: nowrap !important; 
   border: 0 !important; 
}

.hide {
   display: none;
}



 /*  Main Navigation */



nav ul li a {
   text-decoration: none;
   color: white;
}

nav ul li {
   margin: 10px 0px 10px 0px;
   padding-bottom: 10px;
}

#burger-con {
   display: none;
   margin-bottom: 18px;
}

#burger-con #nav-list {
   background-color: #03592F;
   z-index: 1;
   width: 200px;
   border-radius: 10px;
}

#burger-con #nav-list li a:hover {
   color: #efefef;
   border-bottom: 1px solid white;
}


#burger-con.slide-toggle {
   display: block;
}

 #sticky-nav {
   background-color: #CC3333;
   position: sticky;
   top: 0;
   z-index: 1;
 }


 #sticky-nav #burger-con #nav-list {
   position: absolute;
   display: block;
   position: absolute;
 }


 #main-nav button {
   background: url(../images/burger.svg) center no-repeat;
   border: 0px;
   width: 35px;
   height: 35px;
   transition: all .5s ease;
   margin-top: 15px;
   margin-bottom: 20px;
   margin-left: 20px;
 }

 #main-nav button.expanded {
   transform: rotate(90deg);
}


 #search {
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 55px
 }

 #search a {
    text-decoration: none;
    cursor: pointer;
 }
 

    #logo img {
      width: 181px;
      margin-left: 20px;
      margin-top: 10px;
    }


    /* Footer */

    #footer-con {
      background-image: linear-gradient(to bottom,#F26822, #EBB71F);
    }


    #footer-list ul li {
        margin-bottom: 10px;
        padding-top: 15px;
    }

    #footer-list ul li a {
        text-decoration: none;
        color: white;
    }

      #footer-list ul li a:hover {
        border-bottom: 1px solid white;
        color: black;
    }

    #copyright {
        margin-top: 60px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }

  

    /* Product Page */

 #products {
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
 }

  #product1 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 60px;
   }

   #product1 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

      #product1 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }


   #product1 p:first-child {
      margin-top: 15px;
      margin-bottom: 15px;
   }

   #product1 p:last-child {
      margin-left: 130px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-right: 10px;
   }

   #product2 div {
      padding: 0;
   }

  #product2 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 90px;
 }

 #product2 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

    #product2 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

   #product2 p:first-child {
      margin-top: 15px;
      margin-bottom: 15px;
   }

   #product2 p:last-child {
      margin-left: 130px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-right: 10px;
   }
#product3 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 90px;
 }

 #product3 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

    #product3 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

   #product3 p:first-child {
      margin-top: 15px;
      margin-bottom: 15px;
   }

   #product3 p:last-child {
      margin-left: 130px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-right: 10px;
   }

   #product4 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 90px;
   margin-bottom: 80px;
 }

 #product4 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

    #product4 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
   }

   #product4 p:first-child {
      margin-top: 15px;
      margin-bottom: 15px;
   }

   #product4 p:last-child {
      margin-left: 130px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-right: 10px;
   }


 #products p a {
    text-decoration: none;
    color: white;
 }



 /* Contact Page */

#contact {
   margin-top: 20px;
}

#contact h2 {
   text-align: center;
   margin-bottom: 15px;
}

#contact h3 {
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
}



    input {
            width: 60vw;
            border-radius: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            padding: 12px;
        }

    textarea {
        width: 60vw;
        height: 30vh;
        border-radius: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        padding: 12px;
    }


    input[type=submit] {
      background-color: #F26822;
      border: none;
      color: white;
      cursor: pointer;
    }

    #form-intro p {
      margin-bottom: 20px;
    }

 /* Index Page */

 #hero-img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
   object-fit: cover;
   object-position: center;
   }

   #hero-con .grid-con {
   grid-column: 2/3;
   grid-row:1/1;	
   }

   #hero-heading-con h2 {
      justify-self: center;
      margin-top: 57px;
      background-color: #CC3333;
      color: white;
      padding: 25px;
      border-radius: 19px;
      display: flex;
      flex-shrink: 0;
      width: 425px;
   }

   #flavours-intro {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
   }


   #product01 h3, #product02 h3, #product03 h3, #product04 h3 {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
   }

     #product01 {
      background: #FFFFFF;
      box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      margin-top: 60px;
   }

   #product01 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
      color: white;
      text-decoration: none;
   }

      #product01 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
   }

     #product02 div {
      padding: 0;
   }

  #product02 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 90px;
 }

 #product02 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
      color: white;
      text-decoration: none;
   }

    #product02 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
   }

   
#product03 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 90px;
 }

 #product03 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
      color: white;
      text-decoration: none;
   }

    #product03 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
   }


   #product04 {
   background: #FFFFFF;
   box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   margin-top: 90px;
   margin-bottom: 80px;
 }

 #product04 p a {
      background-color: #03592F;
      border-radius: 10px;
      text-align: center;
      padding: 3px 13px 3px 13px;
      color: white;
      text-decoration: none;
   }

    #product04 p a:hover {
      background-color: #04B15C;
      color: black;
      border-radius: 10px;
      text-align: center;
      margin-top: 10px;
      padding: 3px 13px 3px 13px;
    }

    #product01 p, #product02 p, #product03 p, #product04 p {
       margin-left: 130px;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-right: 10px;
    }



 /*  Tablet Queries */

 @media screen and (min-width: 768px) {



    #sticky-nav {
      background-color: #CC3333;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    #main-nav ul li {
    display: inline;
    }


     #sticky-nav #burger-con #nav-list {
      display: inline;
      position: relative
      }

 #burger-con #nav-list {
   background-color: transparent;
   z-index: 0;
   }

    #burger-con {
        position: absolute;
        margin-top: 40px;
        margin-left: 20px;
    }

     button {
      display: none;
    }

    #burger-con {
      display: inline;
    }


    #burger-con li {
        margin-left: 10px;
    }

    #search {
       margin-bottom: 20px;
    }
    
    #logo {
      margin-bottom: 20px;
    }
        h2 {
        font-size: 25px;
        line-height: 22px;
    }

        p {
            font-size: 17px;
        }

       #footer-list {
        justify-items: left;
       }



           input {
            width: 60vw;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            box-sizing: border-box;
            padding: 12px;
        }

    textarea {
        width: 60vw;
        height: 30vh;
        border-radius: 10px;
        margin: 10px 0 10px 0;
        box-sizing: border-box;
        padding: 12px;
    }

    #product1, #product2 {
      margin-top: 20px;
    }

    #product3, #product4 {
      margin-bottom: 40px;
    }

   #product1 p:last-child, #product2 p:last-child, #product3 p:last-child, #product4 p:last-child {
      margin-left: 210px;
   }

         #main-header-con ul li a:hover {
      color: white;
      cursor: pointer;
   }

   #header-nav button {
      display: none;
   }

   .hide {
      display: inline;
   }

      #search {
      margin-left: 80px;
   }

   #logo {
      margin-left: 30px;
      display: block;
   }

   #hero-subheadings{
      display: block;
      width: max-content;
      align-content: space-between;
      margin-top: 400px;
   }

   #hero-subheadings a {
      color: white;
   }

   #hero-heading-products {
      background-color: #F26822;
      padding: 25px 25px 25px 25px;
      border-radius: 19px;
      text-align: center;
      margin-bottom: 25px;
   }

   #hero-heading-sustainability {
      background-color: #03592F;
      padding: 25px 25px 25px 25px;
      border-radius: 19px;
   }

    .hide {
      display: inline;
   }

      #flavours-intro {
      display: flex;
      justify-content: center;
   }

   
    #product01, #product02 {
      margin-top: 20px;
    }

    #product03, #product04 {
      margin-bottom: 40px;
    }

   #product01 p, #product02 p, #product03 p, #product04 p {
      margin-left: 210px;
   }

 }


 /* Desktop Queries */

 @media screen and (min-width: 1200px) {

    #main-nav ul li {
    display: inline;
    }

        h2 {
        font-size: 28px;
        line-height: 33px;
    }

        ul li a {
            text-decoration: none;
        }

        p {
            font-size: 17px;
        }

       #search {
        margin-left: 40px;
    }

        #burger-con li {
        margin-left: 10px;
    }


            input {
            width: 100%;
            border-radius: 10px;
            margin: 10px 0 10px 0;
            box-sizing: border-box;
            padding: 12px;
        }

    textarea {
        width: 100%;
        height: 30vh;
        border-radius: 10px;
        margin: 10px 0 10px 0;
        box-sizing: border-box;
        padding: 12px;
    }

    #logo img {
      margin-left: auto;
      padding: 0;
      border: 0;
    }

    #product1 p:last-child, #product2 p:last-child, #product3 p:last-child, #product4 p:last-child {
      margin-left: 290px;
   }

   #product3 p:last-child {
      margin-top: 40px;
   }

   
    #product01 p, #product02 p, #product03 p, #product04 p {
      margin-left: 370px;
   }


 

 }

 